USE [master]
GO
/****** Object:  Database [ParkingManagementDB]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE DATABASE [ParkingManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParkingManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ParkingManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParkingManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ParkingManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParkingManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParkingManagementDB]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/31/2026 1:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[ShiftID] [int] NULL,
 CONSTRAINT [PK__Employee__7AD04FF1F3D43E91] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyTickets]    Script Date: 3/31/2026 1:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyTickets](
	[MonthlyTicketID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[VehicleTypeID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__MonthlyT__8C5C60E9BCE75D7D] PRIMARY KEY CLUSTERED 
(
	[MonthlyTicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingHistory]    Script Date: 3/31/2026 1:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NULL,
	[ActionType] [nvarchar](20) NULL,
	[ActionTime] [datetime] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK__ParkingH__4D7B4ADDBC2DD41D] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingLot]    Script Date: 3/31/2026 1:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingLot](
	[ParkingLotID] [int] IDENTITY(1,1) NOT NULL,
	[ParkingLotName] [nvarchar](100) NOT NULL,
	[TotalSlots] [int] NOT NULL,
 CONSTRAINT [PK__ParkingL__6F271EA989401089] PRIMARY KEY CLUSTERED 
(
	[ParkingLotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 3/31/2026 1:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [nvarchar](50) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
 CONSTRAINT [PK__Shifts__C0A838E152DFFBE2] PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 3/31/2026 1:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[TicketCode] [nvarchar](20) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[VehicleTypeID] [int] NOT NULL,
	[ParkingLotID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CheckInTime] [datetime] NOT NULL,
	[CheckOutTime] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[IsMonthlyTicket] [bit] NULL,
	[Status] [nvarchar](20) NULL,
 CONSTRAINT [PK__Tickets__712CC62771CCED67] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/31/2026 1:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Users__1788CCACBBAC235B] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 3/31/2026 1:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[VehicleTypeID] [int] NOT NULL,
	[OwnerName] [nvarchar](100) NULL,
	[OwnerPhone] [nvarchar](20) NULL,
 CONSTRAINT [PK__Vehicles__476B54B21684955C] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 3/31/2026 1:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTypes](
	[VehicleTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[HourlyRate] [decimal](10, 2) NOT NULL,
	[DailyRate] [decimal](10, 2) NOT NULL,
	[MonthlyRate] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__VehicleT__9F44962326566892] PRIMARY KEY CLUSTERED 
(
	[VehicleTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [UserID], [FullName], [Gender], [Address], [Phone], [ShiftID]) VALUES (1, 2, N'Nguyễn Văn A', N'Nam', N'Hà Nội', N'0123456789', 1)
INSERT [dbo].[Employees] ([EmployeeID], [UserID], [FullName], [Gender], [Address], [Phone], [ShiftID]) VALUES (2, 3, N'Trần Thị B', N'Nữ', N'Hà Nội', N'0987654321', 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[MonthlyTickets] ON 

INSERT [dbo].[MonthlyTickets] ([MonthlyTicketID], [VehicleID], [VehicleTypeID], [StartDate], [EndDate], [Price], [IsActive]) VALUES (1, 1, 1, CAST(N'2026-03-24' AS Date), CAST(N'2026-04-24' AS Date), CAST(200000.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[MonthlyTickets] ([MonthlyTicketID], [VehicleID], [VehicleTypeID], [StartDate], [EndDate], [Price], [IsActive]) VALUES (2, 3, 1, CAST(N'2026-03-12' AS Date), CAST(N'2026-04-30' AS Date), CAST(200000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[MonthlyTickets] ([MonthlyTicketID], [VehicleID], [VehicleTypeID], [StartDate], [EndDate], [Price], [IsActive]) VALUES (1002, 1004, 1, CAST(N'2026-03-16' AS Date), CAST(N'2026-04-15' AS Date), CAST(200000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[MonthlyTickets] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingHistory] ON 

INSERT [dbo].[ParkingHistory] ([HistoryID], [TicketID], [ActionType], [ActionTime], [UserID]) VALUES (1, 1, N'CheckIn', CAST(N'2026-03-24T23:41:24.887' AS DateTime), 2)
INSERT [dbo].[ParkingHistory] ([HistoryID], [TicketID], [ActionType], [ActionTime], [UserID]) VALUES (2, 2, N'CheckIn', CAST(N'2026-03-24T23:41:24.887' AS DateTime), 3)
INSERT [dbo].[ParkingHistory] ([HistoryID], [TicketID], [ActionType], [ActionTime], [UserID]) VALUES (3, 2, N'CheckOut', CAST(N'2026-03-24T23:41:24.887' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[ParkingHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingLot] ON 

INSERT [dbo].[ParkingLot] ([ParkingLotID], [ParkingLotName], [TotalSlots]) VALUES (1, N'Bãi xe A', 100)
INSERT [dbo].[ParkingLot] ([ParkingLotID], [ParkingLotName], [TotalSlots]) VALUES (2, N'Bãi xe B', 50)
SET IDENTITY_INSERT [dbo].[ParkingLot] OFF
GO
SET IDENTITY_INSERT [dbo].[Shifts] ON 

INSERT [dbo].[Shifts] ([ShiftID], [ShiftName], [StartTime], [EndTime]) VALUES (1, N'Sáng', CAST(N'06:00:00' AS Time), CAST(N'14:00:00' AS Time))
INSERT [dbo].[Shifts] ([ShiftID], [ShiftName], [StartTime], [EndTime]) VALUES (2, N'Chiều', CAST(N'14:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[Shifts] ([ShiftID], [ShiftName], [StartTime], [EndTime]) VALUES (3, N'Đêm', CAST(N'22:00:00' AS Time), CAST(N'06:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Shifts] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketID], [TicketCode], [VehicleID], [LicensePlate], [VehicleTypeID], [ParkingLotID], [UserID], [CheckInTime], [CheckOutTime], [TotalAmount], [IsMonthlyTicket], [Status]) VALUES (1, N'TICKET001', 1, N'29A-12345', 1, 1, 2, CAST(N'2026-03-24T23:41:24.883' AS DateTime), CAST(N'2026-03-24T23:43:06.300' AS DateTime), CAST(0.00 AS Decimal(10, 2)), 1, N'CheckedOut')
INSERT [dbo].[Tickets] ([TicketID], [TicketCode], [VehicleID], [LicensePlate], [VehicleTypeID], [ParkingLotID], [UserID], [CheckInTime], [CheckOutTime], [TotalAmount], [IsMonthlyTicket], [Status]) VALUES (2, N'TICKET002', 2, N'30A-67890', 2, 1, 3, CAST(N'2026-03-24T18:41:24.883' AS DateTime), CAST(N'2026-03-24T23:41:24.883' AS DateTime), CAST(50000.00 AS Decimal(10, 2)), 0, N'CheckedOut')
INSERT [dbo].[Tickets] ([TicketID], [TicketCode], [VehicleID], [LicensePlate], [VehicleTypeID], [ParkingLotID], [UserID], [CheckInTime], [CheckOutTime], [TotalAmount], [IsMonthlyTicket], [Status]) VALUES (3, N'c95590ee', 3, N'29X-20449', 1, 1, 1, CAST(N'2026-03-24T23:43:53.233' AS DateTime), CAST(N'2026-03-28T21:11:30.457' AS DateTime), CAST(0.00 AS Decimal(10, 2)), 1, N'CheckedOut')
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [CreatedAt], [IsActive]) VALUES (1, N'admin', N'123', N'Admin', CAST(N'2026-03-24T23:41:24.880' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [CreatedAt], [IsActive]) VALUES (2, N'staff1', N'123', N'Employee', CAST(N'2026-03-24T23:41:24.880' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [CreatedAt], [IsActive]) VALUES (3, N'staff2', N'123', N'Employee', CAST(N'2026-03-24T23:41:24.880' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleID], [LicensePlate], [VehicleTypeID], [OwnerName], [OwnerPhone]) VALUES (1, N'29A-12345', 1, N'Nguyễn Văn A', N'0123456789')
INSERT [dbo].[Vehicles] ([VehicleID], [LicensePlate], [VehicleTypeID], [OwnerName], [OwnerPhone]) VALUES (2, N'30B-67890', 2, N'Trần Văn C', N'0999999999')
INSERT [dbo].[Vehicles] ([VehicleID], [LicensePlate], [VehicleTypeID], [OwnerName], [OwnerPhone]) VALUES (3, N'29X-20449', 1, N'Nguyễn Văn B', N'0956314853')
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleTypes] ON 

INSERT [dbo].[VehicleTypes] ([VehicleTypeID], [TypeName], [HourlyRate], [DailyRate], [MonthlyRate]) VALUES (1, N'Motorbike', CAST(5000.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(10, 2)), CAST(200000.00 AS Decimal(10, 2)))
INSERT [dbo].[VehicleTypes] ([VehicleTypeID], [TypeName], [HourlyRate], [DailyRate], [MonthlyRate]) VALUES (2, N'Car', CAST(10000.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)), CAST(500000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[VehicleTypes] OFF
GO
/****** Object:  Index [IX_Employees_ShiftID]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_ShiftID] ON [dbo].[Employees]
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Employee__1788CCAD3A772005]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Employee__1788CCAD3A772005] ON [dbo].[Employees]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonthlyTickets_VehicleID]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonthlyTickets_VehicleID] ON [dbo].[MonthlyTickets]
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonthlyTickets_VehicleTypeID]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonthlyTickets_VehicleTypeID] ON [dbo].[MonthlyTickets]
(
	[VehicleTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingHistory_TicketID]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingHistory_TicketID] ON [dbo].[ParkingHistory]
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingHistory_UserID]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingHistory_UserID] ON [dbo].[ParkingHistory]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_ParkingLotID]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_ParkingLotID] ON [dbo].[Tickets]
(
	[ParkingLotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_UserID]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_UserID] ON [dbo].[Tickets]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_VehicleID]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_VehicleID] ON [dbo].[Tickets]
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_VehicleTypeID]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_VehicleTypeID] ON [dbo].[Tickets]
(
	[VehicleTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tickets__598CF7A3A39617DF]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Tickets__598CF7A3A39617DF] ON [dbo].[Tickets]
(
	[TicketCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E455A6ACE5]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Users__536C85E455A6ACE5] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicles_VehicleTypeID]    Script Date: 3/31/2026 1:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicles_VehicleTypeID] ON [dbo].[Vehicles]
(
	[VehicleTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonthlyTickets] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[ParkingHistory] ADD  DEFAULT (getdate()) FOR [ActionTime]
GO
ALTER TABLE [dbo].[ParkingLot] ADD  DEFAULT (N'Bãi xe trung tâm') FOR [ParkingLotName]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [CheckInTime]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsMonthlyTicket]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'CheckedIn') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'Employee') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__Shift__4222D4EF] FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shifts] ([ShiftID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__Shift__4222D4EF]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__UserI__412EB0B6] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__UserI__412EB0B6]
GO
ALTER TABLE [dbo].[MonthlyTickets]  WITH CHECK ADD  CONSTRAINT [FK__MonthlyTi__Vehic__5812160E] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[MonthlyTickets] CHECK CONSTRAINT [FK__MonthlyTi__Vehic__5812160E]
GO
ALTER TABLE [dbo].[MonthlyTickets]  WITH CHECK ADD  CONSTRAINT [FK__MonthlyTi__Vehic__59063A47] FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypeID])
GO
ALTER TABLE [dbo].[MonthlyTickets] CHECK CONSTRAINT [FK__MonthlyTi__Vehic__59063A47]
GO
ALTER TABLE [dbo].[ParkingHistory]  WITH CHECK ADD  CONSTRAINT [FK__ParkingHi__Ticke__5DCAEF64] FOREIGN KEY([TicketID])
REFERENCES [dbo].[Tickets] ([TicketID])
GO
ALTER TABLE [dbo].[ParkingHistory] CHECK CONSTRAINT [FK__ParkingHi__Ticke__5DCAEF64]
GO
ALTER TABLE [dbo].[ParkingHistory]  WITH CHECK ADD  CONSTRAINT [FK__ParkingHi__UserI__5EBF139D] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ParkingHistory] CHECK CONSTRAINT [FK__ParkingHi__UserI__5EBF139D]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK__Tickets__Parking__534D60F1] FOREIGN KEY([ParkingLotID])
REFERENCES [dbo].[ParkingLot] ([ParkingLotID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK__Tickets__Parking__534D60F1]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK__Tickets__UserID__5441852A] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK__Tickets__UserID__5441852A]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK__Tickets__Vehicle__5165187F] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK__Tickets__Vehicle__5165187F]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK__Tickets__Vehicle__52593CB8] FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypeID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK__Tickets__Vehicle__52593CB8]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK__Vehicles__Vehicl__46E78A0C] FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypeID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK__Vehicles__Vehicl__46E78A0C]
GO
USE [master]
GO
